.content-layout {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.map-wrapper {
  height: 400px;
}